@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--bento-bg);
    border-bottom: 1px solid var(--bento-stroke);
    flex: 1;
    min-height: 80px;
    animation: fadeInDown 0.3s ease-out;

    & h1 {
        font-size: var(--title-m);
        color: var(--black);
    }
}
